{{>navbar}}
<div id="overlay" class="overlay">
  <div class="container" id="container">
    <section class="main__container--limited-width">
      <h1>{{name}} recipe</h1>
      {{#each cusine}}
        <a href="/{{this.id}}">{{this.title}}</a>
        <li>Difficulty:{{this.difficulty}}</li>
        <li>{{this.duration}} minutes</li>
      {{/each}}
    </section>
  </div>
</div>
